sudo: false
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "pypy"
install: pip install -e .
script: py.test jellyfish/test.py
after_success:
    - coveralls
notifications:
    email:
        - james.p.turk@gmail.com
